html{
    scroll-behavior: smooth;
}
main {
    box-sizing: border-box;
    overflow: hidden;
    font-family: "Work Sans", sans-serif;
}
.contenedor_usuario{
    padding-left: 70%;
}
.titulo{
    text-align: center;
    text-decoration: none;
}
.imagen{
    margin: 0 auto;
    height: 350px;
    width: 490px;
    background-image: url(./media/books.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 40px;
}
.divdocs{
    margin: 0 auto;
    height: auto;
    width: 80%;
    background-color: aqua;
    padding: 0 20px 0 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 19px;
    grid-row-gap: 17px; 
}
.contenedor{
    width: auto;
    height: auto;
    margin: 0 auto;
    padding-top: 69px;
    font-size: 24px;
    padding-left: 133px;
}
.contenedorreq{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
}
.elemento-lista{
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5px 15px 0px 15px;
    margin-top: 10px;
}
.p-titulo{
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
    text-transform: uppercase;
}
.formulario{
    height: auto;
    width: auto;
}
.container{
    height: auto;
    width: auto;
    margin-bottom: 10px;
}
input{
    width: 350px;
    height: 30px;
    outline: none;
    border-radius: 12px;
    box-shadow: none;
    border: 1.5px solid #e1e1e1;
}
input[type=text]:focus {
    border: 3px solid #fc99fe;
}
input[type=number]:focus {
    border: 3px solid #fc99fe;
}
input[type=date]:focus {
    border: 3px solid #fc99fe;
}
input[type=date]{
    text-align: center;
    width: 200px;
    font-size: 18px;
}
/* input {
    background-color: transparent;
    border: 0px solid;
    height: 20px;
    width: 160px;
    color: #CCC;
} */

.contenedor_lista{
    height: auto;
    width: auto;
}
select{
    width: 350px;
    height: 30px;
}
#inputID{
    background-color: rgb(233, 233, 237);
}
#inputID:focus {
    border: 1.5px solid rgb(233, 233, 237)
}